In [11]:
class Book:
    def __init__(self,pages):
        self.pages=pages
    def __add__(self,other):
        return self.pages+other.pages
b1=Book(100)
b2=Book(200)
print(b1+b2)

300

In [17]:
class Book:
    def __init__(self,pages,no):
        self.pages=pages
        self.no=no
    def __add__(self,other):
        return self.pages+other.pages
    def __sub__(self,other):
        return self.no-other.no
b1=Book(100,1)
b2=Book(200,2)
b3=Book(300,3)
print(b1+b2)
print(b2+b3)
print(b1+b3)
print(b1-b3)

300
500
400
-2

In [20]:
class Book:
    def __init__(self,pages):
        self.pages=pages
    def __str__(self):
        return 'the no of pages:'+str(self.pages)
    def __add__(self,other):
        total=self.pages+other.pages
        b=Book(total)
        return b
    def __mul__(self,other):
        total=self.pages*other.pages
        b=Book(total)
        return b
b1=Book(100)
b2=Book(200)
b3=Book(300)
b4=Book(400)
print(b1)
print(b2+b2*b3+b4)
print(b1+b3)

the no of pages:100
the no of pages:60600
the no of pages:400

In [23]:
class Student:
    def __init__(self,name,marks):
        self.name=name
        self.marks=marks
    def __lt__(self,other):
        return self.marks<other.marks
s1=Student('shameer',100)
s2=Student('Ravi',200)
print(s1<s2)
print(s2<s1)

True
False

In [30]:
class Employee:
    def __init__(self,name,salary):
        self.name=name
        self.salary=salary
    def __mul__(self,other):
        return self.salary*other.days
class Timesheet:
    def __init__(self,name,days):
        self.name=name
        self.days=days
    def __mul__(self,other):
        return self.days*other.salary
e=Employee('shameer',500)
t=Timesheet('Ravi',20)
print('this month salary is',e*t)
print('this month salary is',t*e)

this month salary is 10000

TypeError: unsupported operand type(s) for *: 'Timesheet' and 'Employee'