In [4]:
import numpy as np
import pandas as pd
r=np.random.randn(10,4)
df=pd.DataFrame(r,columns=list('ABCD'))
#df.dropna(axis=1)
#df['A'].value_counts()#used to count frequnecy of values
df.corr()#used to find corelations

          A         B         C         D
A  1.000000  0.613563  0.127312  0.080024
B  0.613563  1.000000 -0.513234  0.274378
C  0.127312 -0.513234  1.000000 -0.162333
D  0.080024  0.274378 -0.162333  1.000000

In [10]:
r=np.random.randn(10,4)
df=pd.DataFrame(r,columns=list('ABCD'))
print(df)
df.loc[2,'A']
df.loc[2,['A','B']]

          A         B         C         D
0  0.108285 -1.295427 -0.879026 -0.604385
1  0.812846  0.334664 -0.649375  0.106832
2  0.010514  0.782761 -0.676791  0.414163
3 -0.138769  0.829117  0.331797  1.925281
4  0.633437  0.185645  0.787516  0.302323
5 -0.959695 -0.472107 -0.209576 -0.927613
6 -1.399425  0.111023 -0.165447 -0.146911
7  0.599159 -0.456070  0.245205  0.014377
8  0.214341 -0.408331  0.265799  1.291052
9 -0.368024 -0.446537  1.614262  0.303979

A    0.010514
B    0.782761
Name: 2, dtype: float64

In [12]:
import numpy as np
import pandas as pd
r=np.random.randn(10,4)
x=[1,2,3,4,5,6,7,8,9,10]
df=pd.DataFrame(r,index=x,columns=list('ABCD'))
print(df)
df.str.

           A         B         C         D
1  -1.216604  0.708361 -2.037179 -0.379327
2  -0.769786 -1.182683 -2.131685  1.265567
3   0.466305 -1.116946  0.325492  0.949492
4  -0.465330  0.391391  0.062146  0.359625
5  -0.289576  0.346487 -0.216589  2.127282
6  -0.129462  0.388011  1.162370  0.177859
7   0.049834 -0.105551  0.288238 -0.496668
8   0.145982 -0.809017 -0.744605 -0.276081
9   1.033510 -1.684116 -1.302074 -0.526240
10 -0.111456 -1.777904  1.790364  1.434847

           B         C
1   0.708361 -2.037179
2  -1.182683 -2.131685
3  -1.116946  0.325492
4   0.391391  0.062146
5   0.346487 -0.216589
6   0.388011  1.162370
7  -0.105551  0.288238
8  -0.809017 -0.744605
9  -1.684116 -1.302074
10 -1.777904  1.790364